<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">돌아가기</a>
    <p>고유 아이디 : <%= particu[0].id %></p>
    <p>파일 이름 : <%= particu[0].filename %></p>
    <p>파일을 올린 시간 : <%= particu[0].createAt %></p>
</body>
</html>