<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">돌아가기</a>
    <h2>업로드</h2>
    <form action="/uploadFile" method="post" autocomplete="off" enctype="multipart/form-data">
        <input type="file" name="userfile" required>
        <button type="submit">파일 업로드</button>
    </form>
</body>
</html>